*{
	box-sizing: border-box;
	transition: all 0.5s;
	font-family: montserrat,roboto,arial;

}

a:link
{
	text-decoration: none;

}

body
{
	background:#ffc107ee;
}

.container
{
	min-width: 980px;

}

.ext
{
	background: #ffff;
}

a:link:hover
{
	text-decoration: none;	
}

header .container
{
	border-bottom: 2px solid #aaaf;
	height: 7em;
	line-height: 10em;
	background: #fff;
	margin-top: 20px;
	z-index: 3;
	box-shadow: 0px 0 10px 2px #3339;
}

fieldset
{
	margin: 20px 20px;
}

.cont
{
	background: #eeef;
	box-shadow: 0px 0px 20px 3px #444a;
}

.b
{
	margin: 0px 100px 0 0;
}