*{
	box-sizing: border-box;
	transition: all 0.5s;

}



.ext
{
	margin: 0;
	padding: 0;
	background: #dddd;
	min-width: 770px;
}

i 
{ 
	transition: all 0.3s;
	margin: auto 20px;
}

i:hover
{
	color: #484c;
}

i:active
{
	transform: translate(-10px,0);
}


html
{
	background-color: #aaae;
}


.dp
{
	border-radius: 50%;
	border: 2px solid #fffe;
	box-shadow: 0 0 20px 1px #0007;
	width: 50px;
	height: 50px;
	background: url(./Pics/dp3.jpg);
	background-size: cover;
	float: right;
	display: inline-block;
	margin: 15px 20px;
	transition: all 0.5s ease;
}

.dp:hover
{
	transform: rotate(360deg);
}

.usr
{
	display: inline-block;
	background:;
	float: right;
	background:;
	line-height: 80px;
	padding: 0 20px;
	cursor: pointer;
	font-family: montserrat;
}

.usr > span
{
	font-weight: 600;
	margin: 15px 10px;
}

h2
{
	width:50%;
	display: inline-block;
	background: ;
}

header
{
	box-shadow: 0 10px 20px 2px #aaaa;
	z-index: 10;
	position: sticky;
	top: 0;
	background: white;
	border-bottom: 3px solid #4449;

}

footer > .container
{
	height: 200px;
	background: #000a;
	position: relative;
}




.cont
{
	min-height: 500px;
	background: #eee9;
	padding:3em;
	font-family: montserrat;
}

.cont > h1
{
	padding: 10px 20px;
	border-bottom: 2px solid #2196a3;
	color: #2196F3;
}

.cont>h1> small
{
	color: #E91E63;
}


.item-box
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.item
{
	position: relative;
	display: inline-block;
	min-width: 250px;
	min-height: 300px;
	/*background: url("./pics/p1.jpg");*/
	background-size: cover;
	box-shadow:  0px 0px 10px 2px #607d8b99; 
	margin: 20px 10px;
	overflow: hidden;
	border-left: 8px solid #03a9f4;
	border-radius: 0px;
	transition: all 0.5s;
	animation:pop 1s ease;

}

.item:hover
{
	box-shadow: -4px 6px 20px 4px #5559;
	transform: scale(1.05); 
}

.item > .details
{
	position: absolute;
	bottom: 0;
	min-height: 100px;
	background: #fffa;
	width: 100%;
	padding: 5px 10px;
}

.item .price
{
	width: 50%;
	background: #2196f3;
	padding: 3px 10px;
	font-weight: 700;
	color: white;
}

.item i
{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px 15px;
	
	/*transform: scale(1.5);*/

	color:#009688;
	animation: slide 1s ease;

}

.item .details:active
{
	background: #076a;
}


@keyframes slide
{
	from{transform: translate(-30px,0);}
	to{transform: translate(0px,0);}
}

@keyframes pop {
	0%{ transform: scale(0.1); }
	50%{transform: scale(1.1);}
	70%{transform: scale(0.97);}
	100%{transform: scale(1);}
}