*{
	box-sizing: border-box;
	transition: all 0.5s;
	font-family: montserrat,roboto,arial;

}

a:link
{
	text-decoration: none;

}

body
{
	background:#8aff;
}

.ext
{
	background: #ffff;
}

a:link:hover
{
	text-decoration: none;	
}

header .container
{
	border-bottom: 2px solid #aaaf;
	height: 7em;
	line-height: 10em;
}

.row:first-child
{
	margin-top: 50px;
}

.data .det
{
	background:;
	font-size: 1.4em;
}

fieldset
{
	margin-top: 20px;

}

legend
{
	font-size: 0.9em;
}

small
{
	margin-right: 10px;
}


.item-box
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.item
{
	position: relative;
	display: inline-block;
	min-width: 250px;
	min-height: 300px;
	/*background: url("./pics/p1.jpg");*/
	background-size: cover;
	box-shadow:  0px 0px 10px 2px #607d8b99; 
	margin: 20px 10px;
	overflow: hidden;
	border-left: 8px solid #03a9f4;
	border-radius: 0px;
	transition: all 0.5s;
	animation:pop 1s ease;

}

.item > .details
{
	position: absolute;
	bottom: 0;
	min-height: 100px;
	background: #fffa;
	width: 100%;
	padding: 5px 10px;

}

.item .price
{
	width: 50%;
	background: #2196f3;
	padding: 3px 10px;
	font-weight: 700;
	color: white;
}

.item i
{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 15px;
	
	/*transform: scale(1.5);*/

	color:red;
	animation: slide 1s ease;

}
i 
{ 
	transition: all 0.3s;
}

i::after
{
	content: "sold";
	font-size: 0.6em;
	color: orange;
	display: block;
	transform: translate(-2px,3px);
	font-family: montserrat,roboto,arial;
}

i:hover
{
	color: #f00;
	transform: scale(2);
}
i:active
{
	transform: translate(-10px,0);
}

.item .details:active
{
	background: #076a;
}


