*
{
	
}


input
{
	margin: 10px 0px;
	background: red;
	display: inline-block;

}
body
{
	background: linear-gradient(#000a,#0009),url("./pics/back2.jpg");
	background-size: cover;
	box-shadow: inset 10px  0px 30px 15px #010c;
	background-attachment: fixed;
}

.cvr
{
	background: #f5f5f5 ;
	transform: translate(100px,0);
	box-shadow: -10px 0px 20px 2px ;
	border-radius: 0px 0 0 0px;

}

#err
{
	color: #f11e;
	padding: 10px;
	display: none;
}

.box
{
	max-width: 600px;
}

.cvr
{
	max-width: 600px;
	float: right;
}

legend
{
	width: 80%;
}

blockquote
{
	border-color: #FF5722;
}